.sidebar-item {
    position: relative;
}

.sidebar-item::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 0;
    width: 6px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid transparent;
    transition: all 0.15s;
}

/* Khi link active */
.sidebar-item[aria-current="page"]::before {
    background: #22c55e;
    border-color: #22c55e;
}

/* Khi hover */
.sidebar-item:hover::before {
    background: #22c55e;
    border-color: #22c55e;
}