.sidebar-item {
    position: relative;
}

.sidebar-item::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 0;
    width: 6px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid transparent;
    transition: all 0.15s;
}

/* Khi link active */
.sidebar-item[aria-current="page"]::before {
    background: #22c55e;
    border-color: #22c55e;
}

/* Khi hover */
.sidebar-item:hover::before {
    background: #22c55e;
    border-color: #22c55e;
}

.bg-login {
    background-image: linear-gradient(#00000080, #00000080), url("https://charger-next.vercel.app/_next/static/media/page-banner.2fbc6bfd.jpg");
}

.google-login-btn.ant-btn {
    padding: 17px 30px !important;
    border-radius: 0 !important;
}

.booking-title::after {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    content: "";
    background: #1E69B8;
    height: 2px;
}