spring:
  application:
    name: evcare-backend
    url: ${SPRING_BACKEND_URL:http://localhost:8080}
  profiles:
    active: dev

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 202746327765-9shovegi2uc1545d0gkdmpo16lvjut61.apps.googleusercontent.com
            client-secret: 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
            scope:
              - openid
              - profile
              - email
              - https://www.googleapis.com/auth/userinfo.profile
              - https://www.googleapis.com/auth/userinfo.email
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            client-name: Google

        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub



server:
  port: 8080
